.user
	= link_to user_path(user), :remote => true do
		.user_image{:id => "user_image_#{user.id}"}
			.user_stats
				%i.icon-chevron-down
				.user_vouch_count{:id => "user_vouch_count_#{user.id}"}
					%i.icon-star-empty
					%span= user.reputation_value_for(:votes, @community.subdomain.to_sym).round if @community
			= image_tag user.large_image, :title => user.name
			.user_preview
				.user_name= user.first_name
				.user_standing= user.standing.join
	.user_profile{:id => "user_profile_#{user.id}"} 