.post
	.post-votebox
		.post-vote.post-up{:id => "vote_up_#{post.id}", :class => user_signed_in? && voted_for?(post) ? 'post-voted' : nil}
			= link_to vote_on_post_path(post, :up => true), :method => 'post', :remote => true do
				%i.icon-chevron-up
				.post-vote-count{:id => "vote_count_#{post.id}"}
					= vote_count(post) if @community
		.post-vote.post-down{:id => "vote_down_#{post.id}", :class => user_signed_in? && voted_against?(post) ? 'post-voted' : nil}
			= link_to vote_on_post_path(post), :method => 'post', :remote => true do
				%i.icon-chevron-down
	.post-contents
		.post-body
			= post.body_html
		.post-details
			from
			- if post.user == current_user
				= link_to current_user.first_name, '#', :id => "profile"
			- elsif user_signed_in? && Discussion.find_between_users(post.user, current_user)
				= link_to post.user.first_name, discussions_path(:id => post.user), :id => "profile"
			- else
				= link_to post.user.first_name, new_discussion_path(:id => post.user), :remote => true, :class => 'hoverme', 'data-hovercard' => "chaudharyp"