.span3
	#moderators
		%h3.title Moderators
		.section= render :partial => "users/moderator", :collection => @moderators, :as => :user
.span9
	#posts.section
		.new-post-bar					
			= form_for Post.new, :remote => true do |f|
				.new-post-bar-inner
					= f.text_area :body, :placeholder => "What would you like to share?"
					.new-post-bottom
						.new-post-close
							= link_to cancel_post_path, :remote => true do
								%i.icon-remove
						= f.submit 'Share', :id => 'post-submit', :class => 'btn btn-primary btn-send-message', :style => 'font-weight: bold'
						.new-post-counter
							140
		#posts-popular
			%h3.posts_title Popular
			- if @posts.blank?
				.posts-empty
					News with more than 4 points will appear here.
			- else
				= render @posts
		#posts-recent
			%h3.posts_title Recent
			#posts-recent-inner
				= render @recent_posts
		%div{:style => 'clear: both'}
/
	=# collection_select(:post_type_ids, Community.filtered_by("Post Type"), :id, :name, {:include_blank => true, :selected => 140}, {'data-placeholder' => "Select Type", :class => 'chzn-select'})	
	.posts-bar
		= link_to "Popular", posts_path, :class => params[:newest].present? ? nil : 'active'
		= link_to "Newest", posts_path(:newest => true), :class => params[:newest].present? ? 'active' : nil