.navbar.navbar-fixed-top
	.navbar-inner
		.container
			%ul.nav
				%li
					= link_to root_url, :class => "logo" do
						%i.icon-asterisk
						= community_name
			- if user_signed_in?
				%span.right_nav
					%ul.nav{:style => 'margin-right: 0'}
						- if @community
							%li.divider-vertical
							%li
								= link_to root_url, :class => users_page ? "active" : nil do
									%i.icon-user
									People
							%li.divider-vertical
							%li
								= link_to newsletter_path, :class => posts_page ? "active" : nil do
									%i.icon-align-justify
									Newsletter
							%li.divider-vertical
						%li{:id => 'nav-chats-button'}
							= link_to discussions_path, :class => conversations_page ? "active" : nil do
								%i.icon-comments
						%li.divider-vertical
						%li.dropdown
							= link_to "#", :class => edit_page ? "dropdown-toggle active" : "dropdown-toggle", "data-toggle" => "dropdown" do
								%i.icon-cog
								%b.caret
							%ul.dropdown-menu
								%li
									= link_to edit_path do
										%i.icon-cog
										Profile
								%li
									= link_to root_url(:subdomain => false) do
										%i.icon-align-justify
										Directory
								%li
									= link_to logout_path do
										%i.icon-off
										Logout
						%li.divider-vertical