<div class="modal hide fade" id="myModal">
	<div class="modal-header">
	<h3><%= @community ? "#{@community.name} Student + Alumni Network" : "Home" %></h3>
	</div>		
				<div class="modal-users">
			<%= render :partial => "users/user_sm", :collection => User.filtered_by(@community.id).sample(8), :as => :user %>
		</div>

	<div class="modal-about">

			<i class="icon-asterisk"></i> a people directory & monthly newsletter</i> /
				<%= link_to root_path do %>more <i class="icon-chevron-down"></i><% end %>

		</div>



   <%= link_to "#{request.protocol + request.domain}/users/auth/facebook", :class => "facebook_login" do %>
		<i class="icon-facebook-sign"></i>Sign In with Facebook<%#= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %>
	<% end %>

</div>

<!--<div class="modal hide fade in" id="myModal">
  <div class="modal-header">
		<%#= @community ? "#{@community.name} Student + Alumni Network" : "Home" %>
		<div class="modal-users">
			<%#= render :partial => "users/user_sm", :collection => User.filtered_by(@community.id).sample(10), :as => :user %>
		</div>
  </div>
  <div class="modal-body">
		<div class="modal-about">
			<i class="icon-asterisk"></i> a people directory and monthly newsletter</i>
		</div>
  </div>
  <div class="modal-footer">
		<div class="modal-login">
	    <%= link_to "#{request.protocol + request.domain}/users/auth/facebook", :class => "facebook_login" do %>
				<i class="icon-facebook-sign"></i>Sign In with Facebook<%#= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %>
			<% end %>

		</div>
  </div>
</div>-->
<script type="text/javascript" charset="utf-8">
$(function() { 
	$('#myModal').modal({ keyboard: false, backdrop: "static" });
});
</script>